{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <h2 class="no-display">Breadcrumbs</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Formularz kontaktowy</li>
            </ol>
        </nav>
    </div>
    <section>
        <h2 class="no-display">Formularz kontaktowy</h2>
        <div class="container-fluid">

            {% for label, messages in app.flashes %}
                <div class="alert alert-{{ label }}">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endfor %}

            {{ form_start(messageForm) }}
                <div class="mb-3">
                    {{ form_row(messageForm.name, {
                        label: 'Imię',
                        label_attr: {
                            for: 'firstName',
                            class: 'form-label'
                        },
                        attr: {
                            placeholder: 'Stefan',
                            id: 'firstName',
                            class: 'form-control',
                            type: 'text',
                            required: true
                        }
                    }) }}
                </div>

                <div class="mb-3">
                    {{ form_row(messageForm.pesel, {
                        label: 'Pesel',
                        label_attr: {
                            for: 'pesel',
                            class: 'form-label'
                        },
                        attr: {
                            placeholder: '95112102417',
                            id: 'pesel',
                            class: 'form-control',
                            type: 'text',
                            required: true
                        }
                    }) }}
                </div>

                <div class="mb-3">
                    {{ form_row(messageForm.email, {
                        label: 'E-mail',
                        label_attr: {
                            for: 'email',
                            class: 'form-label'
                        },
                        attr: {
                            placeholder: 'stefan.konewka@ogrodnicze.info',
                            id: 'email',
                            class: 'form-control',
                            type: 'email',
                            required: true
                        }
                    }) }}
                </div>

                <div class="mb-3">
                    {{ form_row(messageForm.content, {
                        label: 'Treść wiadomości',
                        label_attr: {
                            for: 'message',
                            class: 'form-label'
                        },
                        attr: {
                            placeholder: 'Treść wiadomości',
                            id: 'messagev',
                            class: 'form-control',
                            required: true
                        }
                    }) }}
                </div>

                <div class="text-center buttons-wrapper">
                    <button type="submit" class="btn btn-success">Wyślij</button><br/>
                    <button type="reset" class="btn btn-sm btn-danger">Wyczyść formularz</button>
                </div>

            {{ form_end(messageForm) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('contact') }}
{% endblock %}
