<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Smartheads - Aplikacja rekrutacyjna</title>
        {% endif %}
        <link rel="icon" href="favicon.png" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% if title %}
                <h1 class="no-display">{{ title }}</h1>
            {% else %}
                <h1 class="no-display">Smartheads - Aplikacja rekrutacyjna</h1>
            {% endif %}

            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <h2 class="no-display">
                        Nawigacja główna
                    </h2>
                    <a class="navbar-brand" href="{{ path('home') }}">Home</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('contact') }}">Kontakt</a>
                            </li>
                        </ul>
                        {% if app.user %}
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('messages') }}">Lista wiadomości</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Witaj, {{ app.user.email }}
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item disabled" href="#" aria-disabled="true">Edytuj konto</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Wyloguj się</a></li>
                                    </ul>
                                </li>
                            </ul>
                        {% else %}
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_login') }}">Logowanie</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_register') }}">Rejestracja</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
