{% extends 'base.html.twig' %}

{#{% block stylesheets %}#}
{#    {{ parent() }}#}
{#    {{ encore_entry_link_tags('contact') }}#}
{#{% endblock %}#}

{% block body %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <h2 class="no-display">Breadcrumbs</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Lista wiadomości</li>
            </ol>
        </nav>
    </div>
    <section>
        <h2 class="no-display">Lista wiadomości</h2>
        <div class="container-fluid">

            {% if messages %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Imię</th>
                            <th scope="col">Pesel</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Akcje</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for message in messages %}
                            <tr>
                                <th scope="row">{{ message.id }}</th>
                                <td>{{ message.name }}</td>
                                <td>{{ message.pesel }}</td>
                                <td>{{ message.email }}</td>
                                <td><a href="{{ path('message', {id: message.id}) }}">Pokaż</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    Brak danych do wyświetlenia
                </div>
            {% endif %}



        </div>
    </section>
{% endblock %}

{#{% block javascripts %}#}
{#    {{ parent() }}#}
{#    {{ encore_entry_script_tags('contact') }}#}
{#{% endblock %}#}
