{% extends 'base.html.twig' %}

{#{% block stylesheets %}#}
{#    {{ parent() }}#}
{#    {{ encore_entry_link_tags('contact') }}#}
{#{% endblock %}#}

{% block body %}
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <h2 class="no-display">Breadcrumbs</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('messages') }}">Lista wiadomości</a></li>
                <li class="breadcrumb-item active" aria-current="page">Wiadomość o id: {{ message.getId() }}</li>
            </ol>
        </nav>
    </div>
    <section>
        {% if message %}
            <h2 class="no-display">Wiadomość o id: {{ message.getId() }}</h2>
            <div class="container-fluid">
                <div>
                    Nadawca:<br/>
                    {{ message.getName() }}<br/>
                    {{ message.getPesel() }}<br/>
                    <a href="mailto:{{ message.getEmail() }}">{{ message.getEmail() }}</a>
                </div><hr/>
                Wiadomość:
                <blockquote>
                    {{ message.getContent() |e }}
                </blockquote>



            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                <h2 class="no-display">404 Not Found ;)</h2>
                <div class="container-fluid">
                    <div class="text-center custom-header">
                        Nie znaleziono wiadomości.<br/>
                        Zrobić przekierowanie do 404 custom page.
                    </div>



                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}

{#{% block javascripts %}#}
{#    {{ parent() }}#}
{#    {{ encore_entry_script_tags('contact') }}#}
{#{% endblock %}#}
